.background {
  viewport-fill: black;
}

#myLabel {
  font-size: 49;
  font-family: System-Bold;
  text-length: 8; /* only need 5, but it gets rounded up to multiple of 4 */
  text-anchor: end; /* right justify */
  x: 91%;
  y: 55%-49; /* 49px font */
  fill: #8fdfcf;
}
